/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.theme-toggle {
    -fx-background-color: lightgray;
}

.theme-toggle:selected {
    -fx-background-color: darkgray;
}

.root {
    -fx-background-color: #E0EFE0;
}